body {
    background-image: linear-gradient(45deg, rgb(49, 49, 49) 25%, transparent 50%), linear-gradient(-45deg, rgb(49, 49, 49) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(49, 49, 49) 75%), linear-gradient(-45deg, transparent 75%, rgb(49, 49, 49) 75%);
    background-size: 80px 80px;
    background-position: 0 0, 0 40px, 40px -40px, -40px 0px;
}

.button {
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: orangered;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: orangered;
}

.button2 {
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: rgb(40, 40, 231);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(40, 40, 231);
}

.longButton {
    width: 250px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: rgb(34, 150, 34);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(34, 150, 34);
}

.turnButton {
    margin-right: 40px;
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: rgb(40, 40, 231);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(40, 40, 231);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.completeTrackButton {
    width: 250px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: rgb(189, 160, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(189, 160, 0);
}